<nav class="mainNav">
    <img class="home-page-logo"
             src="https://upload.wikimedia.org/wikipedia/commons/f/fb/NBUBG-logo.png"
             alt=""
          />
    <div class="mainNav__icon">
       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <g data-name="Layer 2" fill="#9197AE">
             <g data-name="menu-2">
                <rect
                   width="24"
                   height="24"
                   transform="rotate(180 12 12)"
                   opacity="0"
                />
                <circle cx="4" cy="12" r="1" />
                <rect x="7" y="11" width="14" height="2" rx=".94" ry=".94" />
                <rect x="3" y="16" width="18" height="2" rx=".94" ry=".94" />
                <rect x="3" y="6" width="18" height="2" rx=".94" ry=".94" />
             </g>
          </g>
       </svg>
    </div>
 </nav>
 <header class="mainHeading">
    <div class="mainHeading__content">
       <article class="mainHeading__text">
          <h2 class="mainHeading__title">Учи бързо и лесно с нашата платформа.</h2>
          <p class="mainHeading__description">
            Организирай лесно своя учебен процес, за да имаш винаги всичко под ръка, когато ти потрябва.
            Единсвеното, което трябва да направиш  е да се регистрираш.
          </p>
       </article>

       <figure class="mainHeading__image">
          <img
             src="https://cdn.abo.media/upload/article/res/770-430/o_1fo036m5c1tvj1vodfp61td44vc1k.jpg"
             alt=""
          />
       </figure>
    </div>
 </header>